/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
html, body, #map {width: 100%; height: 100%;}
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing='0'' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

/* --------------------------------------------------------
  General css
--------------------------------------------------------- */

body {
  font: 15px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #f1eee8;
  background-color: #250834;
  }

 a {
  color:#077a7d;
  text-decoration:none;
  }

 small { font-size:11px; }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size:20px;
   font-weight: bold;
   }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p { margin:0px 0px 10px; }

 b { font-weight: bold;}

/* --------------------------------------------------------
 Layout
--------------------------------------------------------- */

#map {
  position: absolute;
  top: 100px;
  bottom: 80px;
  left: 100px;
  right: 100px;
  width: auto;
  height: auto;
  -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  }

#header {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  padding-top: 30px;
  }

#query {
  position: absolute;
  bottom: 10px;
  }
.overlay {
  padding: 20px 100px;
}

/* --------------------------------------------------------
 Random
--------------------------------------------------------- */

#header .help {
  float: right;
  margin-top: 15px;
  cursor: pointer;
  }
  #header .help .dropdown {
      width: 300px;
      opacity: 0;
      position: absolute;
      right: 80px;
      transition: opacity .3s;
      -moz-transition: opacity .3s;
      -webkit-transition: opacity .3s;
      -o-transition: opacity .3s;
    }
    #header .help:hover .dropdown {
      opacity: 1;
      }
    #header .help .dropdown .inner {
        color: #221133;
        background-color: #f1eee8;
        margin-top: 15px;
        padding: 10px;
        border-top: 1px solid #fff;
        border-left: 1px solid #f5f5f5;
        -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
        box-shadow: 0 0 5px rgba(0,0,0,0.25);
        -moz-border-radius: 2px;
        border-radius: 2px;
      }
      #header .help .dropdown .inner:after {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 10px solid #f1eee8;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        z-index: 1;
        top: -4px;
        right: 50px;
        }

/* --------------------------------------------------------
 Map + Map controls
--------------------------------------------------------- */

/* ### Zoombox ### */
.zoombox-box,
.boxselector-box {
  border:2px solid #e600cc;
  background:rgba(255,255,255,0.3);
  position:absolute;
  top:0px; left:0px; width:0px; height:0px;
  display:none;
  z-index: 10;
  }
